<!-- <div class="bg" style="background-image: url('assets/img/2813122.jpg');">
  <section>
    <div class="container">
      <div class="row">
        <div class="search-form" style="background-color: #fff;">
          <p class="search">
            <mat-form-field appearance="outline">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </p>
        </div>
      </div>
    </div>
  </section>
</div> -->
<body>
  <div
    class="s01"
    style="background-image: url('assets/img/2777983.jpg'); opacity: 0.9;"
  >
    <form>
      <fieldset>
        <legend>It's the food you love, delivered</legend>
      </fieldset>
      <div>
        <p>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Enter delivery address</mat-label>
            <input matInput />
            <mat-icon matSuffix>add_location</mat-icon>
          </mat-form-field>
        </p>
      </div>
      <div class="d-flex">
        <div class="p-2">
          <p style="margin-top: -20px;">
            <button
              (click)="getUserLocation()"
              mat-raised-button
              color="primary"
              type="button"
            >
              Location
            </button>
          </p>
        </div>
        <div class="ml-auto p-2">
          <p style="margin-top: -20px;">
            <button mat-raised-button color="secondary">
              Restaurants
            </button>
          </p>
        </div>
      </div>
    </form>
  </div>
</body>
