<!-- <div class="bg" style="background-image: url('assets/img/2813122.jpg');">
  <section>
    <div class="container">
      <div class="row">
        <div class="search-form" style="background-color: #fff;">
          <p class="search">
            <mat-form-field appearance="outline">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </p>
        </div>
      </div>
    </div>
  </section>
</div> -->
<body>
  <div
    class="s01"
    style="background-image: url('assets/img/2777983.jpg'); opacity: 0.9;"
  >
    <form>
      <fieldset>
        <legend>It's the food you love, delivered</legend>
      </fieldset>
      <div>
        <form
          class="example-form"
          [formGroup]="searchForm"
          (ngSubmit)="[getSearchValue()]"
        >
          <mat-form-field class="example-full-width">
            <input
              type="text"
              placeholder="Pick one"
              aria-label="Number"
              matInput
              [matAutocomplete]="auto"
              formControlName="search"
            />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredOptions | async"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div class="d-flex">
            <div class="p-2">
              <p style="margin-top: -20px;">
                <button
                  (click)="getLocation()"
                  mat-raised-button
                  color="primary"
                  type="button"
                >
                  Location
                </button>
              </p>
            </div>
            <div class="ml-auto p-2">
              <p style="margin-top: -20px;">
                <button
                  (click)="searchBusiness()"
                  type="button"
                  mat-raised-button
                  color="secondary"
                >
                  Search
                </button>
              </p>
            </div>
          </div>
        </form>
      </div>
    </form>
  </div>
</body>
