.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-full-width {
  width: 100%;
}
.example-headers-align {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .spacer {
    margin-top: 10px;
  }
}
