<!-- <p *ngFor="let business of businesses">{{ business.name }}</p> -->
<!-- <mat-progress-bar
  *ngIf="isLoading$ | async"
  mode="indeterminate"
></mat-progress-bar> -->
<div class="container">
  <div class="row">
    <div class="col-md-2 mb-3"></div>
    <div class="col-md-8 mb-3">
      <app-searchbiz></app-searchbiz>
    </div>
    <div class="col-md-2 mb-3"></div>
  </div>
  <div class="row">
    <div class="col-md-10 mb-3">
      <div class="d-flex">
        <div class="p-2">Sort By</div>

        <div class="ml-auto p-2"></div>
      </div>
    </div>
    <div class="col-md-1 mb-3"></div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="d-flex">
        <div class="p-2">
          <mat-form-field>
            <mat-label>Price</mat-label>
            <mat-select>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2 </mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="p-2">
          <button mat-stroked-button>Distance</button> &nbsp;
          <button mat-stroked-button>Review</button>&nbsp;
          <button class="spacer" mat-stroked-button>Rating</button>&nbsp;
        </div>

        <div class="ml-auto p-2"></div>
      </div>
      <hr />
    </div>
    <div class="col-md-1 mb-3"></div>
  </div>
  <div class="row">
    <div *ngFor="let business of businesses" class="col-md-3 mb-3">
      <div>
        <mat-card class="example-card">
          <app-skeleton-loader
            *ngIf="isLoading$ | async"
            Cwidth="220"
            Cheight="200"
          ></app-skeleton-loader>
          <img
            *ngIf="!(isLoading$ | async)"
            style="max-height: 250px;"
            mat-card-image
            src="{{ business.image_url }}"
          />
          <app-skeleton-loader
            *ngIf="isLoading$ | async"
            Cwidth="220"
            Cheight="50"
          ></app-skeleton-loader>
          <mat-accordion
            *ngIf="!(isLoading$ | async)"
            class="example-headers-align"
            multi
          >
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ business.name }}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-card-content>
                <p>
                  Location: {{ business.location.address1 }},{{
                    business.location.address2
                  }}
                  {{ business.location.city }}.
                </p>
                <p>Category: {{ business.categories[0].title }}</p>
                <p>Phone: {{ business.phone }}</p>
                <!-- <p>Distance: {{}}km</p> -->
                <p>Reviews: {{ business.review_count }}</p>
                <p>Ratings: {{ business.rating }}</p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button>More</button>
                <button mat-raised-button>Direction</button>
              </mat-card-actions>
            </mat-expansion-panel>
          </mat-accordion>

          <!-- <mat-card-actions>
            <button mat-button>{{ business.review_count }}</button>
            <ngb-rating [rate]="{{business.rating}}"></ngb-rating>
          </mat-card-actions> -->
        </mat-card>
      </div>
    </div>
  </div>
</div>
