<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-3"></div>
      <div class="col-md-6 mb-3">
        <form>
          <div>
            <form class="example-form" [formGroup]="searchForm">
              <mat-form-field class="example-full-width">
                <input
                  type="text"
                  aria-label="Number"
                  matInput
                  [matAutocomplete]="auto"
                  formControlName="search"
                  placeholder="Find"
                />
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option
                    *ngFor="let option of filteredOptions | async"
                    [value]="option"
                    (click)="getSearchValue(option)"
                  >
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <div class="d-flex justify-content-between">
                <div></div>
                <div>
                  <p>
                    <button
                      (click)="getLocation()"
                      mat-raised-button
                      color="primary"
                      type="button"
                    >
                      Location
                    </button>
                  </p>
                </div>
                <div></div>
              </div>
            </form>
          </div>
        </form>
      </div>
      <div class="col-md-3 mb-3"></div>
    </div>
  </div>
</section>
